html {
  overflow: hidden;
  height: 100vw;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
  background-image: url(./images/Car.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: 100% 100%; */
  background-size: cover;
  height: 100%;
  overflow: auto; 
}

a {
  color: #000;
}

.logo {
  height: 10vh;
}

.header {
  /* background-color: #fff; */
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  padding-top: 2vh;
  /* background-color: #fff; */
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: white;
  
}

.header li a:hover,
.header .menu-btn:hover {
  /* background-color: #f4f4f4; */
  /* background-color: rgb(237, 80, 40); */
  color: rgb(237, 80, 40);
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  /* background: #333; */
  background: white;
  display: block;
  height: .5vh;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  /* background: #333; */
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 48em) {
  body {
    padding-top: 10vh;
  }
  .contactContainer {
    flex-direction: column;
  }
  .contactContainer div h1 {
    font-size: 10vw;
  }
  .contactContainer div h3 {
    font-size: 7vw;
  }
  .contactContainer div p {
    font-size: 5vw;
  }
  .contactContainer div img {
    height: 25vh;
  }
  .parkMeadows a h1 {
    font-size: 7vw;
  }
  .OP a h1 {
    font-size: 7vw;
  }
  .sushiDen a h1 {
    font-size: 7vw;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.locationsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vw;
  padding: 5vw;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}

.locationsContainer a h1:hover {
  color: rgb(237, 80, 40);
}

.locationsContainer a img:hover {
  border: 2px rgb(237, 80, 40) solid;
}

.locationsContainer a img {
  border: 2px white solid;
  width: 50vw;
  height: auto; 
}

.locationsContainer a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  /* color: rgb(237, 81, 40); */
  color: white;
  font-size: 4vw;
}

h3 {
  color: white;
  font-size: 3vw;
}

p {
  color: white;
  font-size: 2vw;
}

.aboutContainer {
  display: flex;
  margin: 20vw;
}

.aboutContainer img {
  height: 40vh;
  width: auto;
}

a {
  text-decoration: none;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  margin: 10vw;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  padding: 1vw;
}

.jeff, .patric {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  padding: 2vw;;
}

.jeff img {
  height: 30vw;
}

.patric img {
  height: 30vw;
}

.slideshowImages {
  margin-top: 20vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.slideshowImages img {
  border: 2px solid white;
  height: 40vh;
  width: auto;
}
