html {
  height: 100vh; /* set viewport constraint */
  min-height: 100%; /* enforce height */
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  /* background-color: #f4f4f4; */
  background: url(./images/Car.jpg) no-repeat center center fixed;
  /* background-image: url(./images/Car.jpg); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: 100% 100%; */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  overflow: auto; 
  /* display: flex;
  flex-direction: column; */
}

body:after{
  content:"";
  position:fixed;
  top:0;
  height:100vh;
  left:0;
  right:0;
  z-index:-1; 
  background: url(/images/Car.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carImg {
  width: 100%;
  height: 100vh;
  position: fixed;
}

.centered {
  position: relative;
  /* position: sticky; */
  top: 0;
  margin-top: 15vh;
  padding-left: 10vw;
  /* left: 75%; */
  /* transform: translate(-50%, -50%); */
  font-size: 7vw;
}


.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70vh;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border-top: 2px solid black;
  width: 100vw;
}

a {
  color: #000;
}

.logo {
  height: 10vh;
}

.header {
  /* background-color: #fff; */
  /* background: rgba(0, 0, 0, 0.5); */
  background-color: rgb(80, 100, 120);
  /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
  /* background-color: rgb(55, 130, 188); */
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  padding-top: 2vh;
  /* background-color: #fff; */
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: white;
  transition-duration: 0.5s;
  
}

.header li a:hover,
.header .menu-btn:hover {
  /* background-color: #f4f4f4; */
  /* background-color: rgb(237, 80, 40); */
  color: rgb(237, 80, 40);
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  /* left: 0; */
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  /* background: #333; */
  background: white;
  display: block;
  height: .5vh;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  /* background: #333; */
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  /* max-height: 240px; */
  max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .mainContainer {
    position: sticky;
    top: 0;
    z-index: 30000;
  }
}

@media (max-width: 48em) {
  body {
    padding-top: 10vh;
    background-position: 70%;
  }
  body:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url(images/Car.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  .contactContainer {
    flex-direction: column;
    margin: 3vw;
  }
  .contactContainer div h1 {
    font-size: 10vw;
  }
  .contactContainer div h3 {
    font-size: 7vw;
  }
  .contactContainer div p {
    font-size: 5vw;
  }
  .contactContainer div img {
    height: 25vh;
  }
  .parkMeadows a h1, .OP a h1, .sushiDen a h1 {
    font-size: 7vw;
  }
  .centered {
    display: flex;
    justify-content: center;
    padding-left: 0;
    font-size: 13vw;
    top: 5vh;
  }
  .about h2 {
    font-size: 7vw;
  }
  .about p {
    font-size: 5vw;
  }
  .locationsContainer p {
    font-size: 3vw;
  } 
  .restaurantList li {
    font-size: 3vw;
  }
  .jeff, .patric, .matt {
    flex-direction: column;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-top: 2px solid black; */
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100%;
  left: 0;
  background-color: rgb(80, 100, 120);
  /* background: rgba(0, 0, 0, 0.5); */
  color: white;
}

footer img {
  height: 5vh;
}

.locationsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vw;
  padding: 5vw;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  /* height: 100vw; */
}

.locationsContainer h1:hover {
  color: rgb(237, 80, 40);
}

.locationsContainer img:hover {
  border: 2px rgb(237, 80, 40) solid;
}

.locationsContainer p:hover {
  color: rgb(237, 80, 40);
}

.locationsContainer img {
  border: 2px white solid;
  width: 50vw;
}

.locationsContainer a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurantList {
  color: white;
  font-size: 2vw;
}

h1, h2, h3, p, li, a {
  color: white;
  text-shadow: 4px 3px 0px rgba(255, 255, 255, 0.15), 3px 2px 0px rgba(0, 0, 0, 0.55);
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 3vw;
}

p {
  font-size: 2vw;
}


a {
  text-decoration: none;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-top: 15vh;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  padding: 1vw;
}

.contactContainer a {
  color: white;
  font-size: 2vw;
}

.contactContainer a:hover {
  color: rgb(237, 80, 40);
}

.jeff, .patric, .matt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  padding: 2vw;;
}

.jeff img, .patric img, .matt img {
  height: 30vw;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .slideshowImages {
  margin-top: 20vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.slideshowImages img {
  border: 2px solid white;
  height: 40vh;
  width: auto;
} */

.restaurantList li:hover {
  color: rgb(237, 80, 40);
}

.restaurantList li {
  color: white;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.formContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10vw;
}


